
    
    <!-- Formulário para cadastrar um novo item -->
    
    <h1> Cadastrar novo item na coleção: </h1>

    <div class="criar">
        <form method="post" action="?pagina=home&metodo=insert"></form>
            <label>Nome: </label> <br>
            <input type="text" name="nome"><br><br>
            <label>Tipo: </label> <br>
            <input type="text" name="tipo"><br><br>
            <label>Descrição: </label> <br>
            <textarea rows="4" cols="50" name="descricao"></textarea><br>
            <label>Adquirido em: </label> <br>
            <input type="date" name="aquisicao"><br><br>
            <input class="btn btn-success btn-lg" type="submit" value="Cadastrar"></input>
            <input class="btn btn-primary btn-lg" type="button" value="Voltar" onClick="JavaScript: window.history.back();"></input>
        </form>
        
    </div>

    