<section>

    <h1> Detalhes do item: </h1>
    <div class="criar">
        <h3>{{nome}}</h3>
        <img src="app/View/imagens/PS5.PNG" class="card-img-top" style="height: 250px; width: 250px; margin-left: auto; margin-right: auto; margin-bottom: 15px;"></img><br>
        <span> Tipo: </span> <p>{{tipo}}</p>
        <span> Data de aquisição: </span> <p> {{aquisicao}}</p>
        <span> Descrição do item: </span> <p> {{descricao}}</p>

        <input class="btn btn-primary btn-lg" type="button" value="Voltar" onClick="JavaScript: window.history.back();"></input>

                </div>
            </div>
        <div>
    </div>

</section>
