
<section>

    <h1> Página de relatório: </h1>
    <br> 
        {% for item in itens %}
        <div class="column">
            <div class="card border-dark mb-3">
                <div class="card">
                    <img src="app/View/imagens/PS5.PNG" class="card-img-top" style="height: 250px; width: 250px; margin-left: auto; margin-right: auto;">
                    <h3> <a href="http://localhost/Inventario/?pagina=post&id={{item.id}}"> {{item.nome}} </a> </h3>
                    <p class="card-text"> {{item.descricao}}</p> 
                    <a href="http://localhost/Inventario/?pagina=post&id={{item.id}}" class="btn btn-primary" style="margin-bottom: 5px;"> Exibir detalhes </a>
                    <a href="http://localhost/Inventario/index.php/?pagina=item&id={{item.id}}" class="btn btn-success" style="margin-bottom: 5px;"> Baixar relatório </a>
                </div>
            </div>
        </div>
        {% endfor %}

</section>
