
 <!doctype html>
 <html lang="pt-BR">
   <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="app/css/home.css" />
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     
     <title> Página Inicial - Coleção Particular </title>
   
   </head>
   <body>
     
     <h1 id="usuario"> Seja Bem-Vindo!</h1>
 
     <div class="row">
     <video width="300" height="200" autoplay loop muted>
         <source src="app/css/colection.mp4" type="video/mp4">
     </video>
     </div>
 
     <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
       <div class="container-fluid">
         <a  class="navbar-brand" href="http://localhost/inventario/">Home </a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item">
           <!-- Modal para cadastrar novo item -->
           <button type="button" class="btn btn-outline-warning btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <a href="http://localhost/inventario/?pagina=admin&metodo=create"> Cadastrar novo Item na coleção </a><br>
           </button>
             </li>
             <li class="nav-item">
               <button type="button" class="btn btn-outline-warning btn-lg"> 
                <a href="http://localhost/inventario/?pagina=admin&metodo=relatorio">Gerar relatório de Item na coleção </a>
               </button>
             </li>
           </ul>
           <form class="d-flex">
             <input class="form-control me-2" type="search" placeholder="Digite algo..." aria-label="Search">
             <button class="btn btn-warning btn-lg" type="submit">Procurar itens </button>
           </form>
         </div>
       </div>
     </nav>
 
     <div id="conteudo">
        {{area_dinamica}}
    </div>
 
   </body>
 </html>